@page "/"

<style>
    body {
         background-color: #c0392b;
         color: #f9ebea;
    }
    hr {
        border-color: #f9ebea;
    }
</style>
<h1>Its Christmas @eves</h1>
<hr />
@if (nowMonth == 12 && nowDay == 25) {
    <h2>Its Christmas today! Yay!</h2>
    <marquee>merry christmas</marquee>
} else {
    <h2>There @(daysToGo==1 ? "is" : "are") @daysToGo sleep@(daysToGo==1 ? "" : "s") left until Christmas</h2>
    @switch (randomnum) {
        case 1:
            <h4>or @(Math.Round(daysToGo*24 / 6.15, 2)) rewatches of the Shrek movies until Christmas</h4>
            break;
        case 2:
            <h4>or @(daysToGo*24*60*60) seconds until Christmas</h4>
            break;
        case 3:
            <h4>or you will blink @(daysToGo*25000) times until Christmas</h4>
            break;
        case 4:
            <h4>or the sun will lose @(Math.Round(((double)daysToGo/365)*360, 2)) tons of mass by Christmas</h4>
            break;
        default:
            <h4>or @(Math.Round((double)daysToGo/(356*9),5)) squirrel lifetimes until Christmas</h4>
            break;
    }
    <marquee>@(daysToGo < 48 ? "not long now..." : "its quite a long time")</marquee>
}
<hr />
<p>This is a (very) small project made in Blazor WebAssembly and C# by Finn O'Neill (Check out my <a href="https://github.com/Explorer017">GitHub Page!</a>) and <a href="https://github.com/JakeyGilly">Jake Gillman</a>.</p>
@code {
    public static DateTime now = DateTime.Now;
    public int nowMonth = int.Parse(now.ToString("MM"));
    public int nowDay = int.Parse(now.ToString("dd"));
    public static int daysToGo;
    public string eves;
    public static DateTime ChristmasDate;
    public static int randomnum = new Random().Next(1, 5);

    protected override async Task OnInitializedAsync()
    {
        if (nowMonth == 12)  {
            if (nowDay <= 24) {
                ChristmasDate = new DateTime(int.Parse(now.ToString("yyyy")), 12, 25);
            } else {
                ChristmasDate = new DateTime(int.Parse(now.ToString("yyyy")) + 1, 12, 25);
            }
        } else { ChristmasDate = new DateTime(int.Parse(now.ToString("yyyy")), 12, 25); }
        TimeSpan ts = ChristmasDate.Subtract(now);
        daysToGo = ts.Days + 1;
        if (nowMonth == 12 && nowDay == 25)
        {
            eves = "Day";
            daysToGo = 0;
        }
        else
        {
            for (int i = 0; i < daysToGo; i++)
            {
                eves = eves + "Eve ";
            }
        }
    }
}